@model IEnumerable<twitterProject.Models.User>
@inject IHttpContextAccessor httpContextaccessor
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Index";
}

@{
    int loggedUserId = Int32.Parse(httpContextaccessor.HttpContext.Request.Cookies["ID"]);
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Id != loggedUserId)
            {


                string btnClass = "", labelName = "";

                var follow = item.Follows.FirstOrDefault(f => f.UserID == loggedUserId);

                if (follow == null)
                {
                    btnClass = "btn-success";
                    labelName = "Follow";
                }
                else
                {
                    btnClass = "btn-danger";
                    labelName = "Unfollow";
                }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> @{
                    var parms = new Dictionary<string, string>
                            {
                                {"UserID", loggedUserId.ToString()},
                                {"FollowingID", item.Id.ToString()}
                            };
                }
                <td>
                    <a class="@btnClass btn w-75" asp-action="Create" asp-controller="Follows" asp-all-route-data="parms">@labelName</a>
                </td>
            </tr>


            }
            
}
    </tbody>
</table>
