@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor
@model IEnumerable<twitterProject.Models.Tweet>
@*@model twitterProject.Models.Tweet*@

@{
    ViewData["Title"] = "Index";
}

@{
    int currentUserID = Int32.Parse(httpContextaccessor.HttpContext.Request.Cookies["Id"]);       
}

<html>
    <head>
       <link rel='stylesheet' type='text/css' media='screen' href='~/css/style.css'>
    </head>
     <h1>Index</h1>

        <div class="layout">
        <div class="layout__left-sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__item sidebar-menu__item--active">
                    <img src="./svg/home.svg" class="sidebar-menu__item-icon" />
                     @Html.ActionLink("Home", "Index", "Tweets", null)
                </div>
                <div class="sidebar-menu__item">
                    <img src="./svg/explore.svg" class="sidebar-menu__item-icon" />
                     @Html.ActionLink("Tweet", "Create", "Tweets", null)
                </div>

                <div class="sidebar-menu__item">
                    <img src="./svg/profile.svg" class="sidebar-menu__item-icon" />
                    @Html.ActionLink("Users", "Index", "Users", null)
                </div>
                 @{
                string name = httpContextaccessor.HttpContext.Request.Cookies["Check"];
                string UserId = httpContextaccessor.HttpContext.Request.Cookies["Id"];
        
                }
                <div class="sidebar-menu__item">
                    <img src="./svg/profile.svg" class="sidebar-menu__item-icon" />
                    <a style="text-decoration:none;" class="nav-text text-light" asp-action="Edit" asp-controller="Users" asp-route-id="@UserId">
                  <span>@name</span></a>
                </div>
                <div class="sidebar-menu__item">
                    <img src="./svg/more.svg" class="sidebar-menu__item-icon" />
                     @Html.ActionLink("Logout", "Logout", "Home", null)
                </div>
            </div>
        </div>
        </div>

    <body>
        <div  class="tweetBody">

   @*@*         <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@





@foreach (var item in Model) {
    
<div class="tweetContainer">

    <div class="username">
        @Html.DisplayFor(modelItem => item.User.FirstName)
    </div> 
    <div class="email">
         @Html.DisplayFor(modelItem => item.User.Email)
    </div>
    <div class="description">
         @Html.DisplayFor(modelItem => item.Description)
    </div>
    <div class="date">
     @Html.DisplayFor(modelItem => item.CreatedDate)
    </div>
    <hr />
     @{
                var parms = new Dictionary<string, string>
                        {
                            { "TweetID", item.Id.ToString() },
                            { "UserID", currentUserID.ToString() }
                        };

                string pathImg = "";

                if (item.Likes.FirstOrDefault<Like>(l => l.UserID == currentUserID && l.TweetID == item.Id) != null)
                {
                    pathImg = "https://img.icons8.com/office/344/like--v1.png";
                }
                else
                {
                    pathImg = "https://img.icons8.com/ios/344/like--v1.png";
                }
            }
            <div class="text-center m-0 w-50 mx-auto">
            @item.Likes.Count <a class="mb-0 p-1" style="text-decoration:none;" asp-action="Create" asp-controller="Likes" asp-all-route-data = "parms">
                <img class="imgLike" alt="" src="@pathImg"/></a>
        </div>

       </div>

}
    </body>
</html>



